::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;

    margin: 0;

    display: flex;
    flex-direction: column;

    background-color: #f7f8f1;
}

nav {
    height: 10vh;
    min-height: 91.5px;

    position: sticky;
    top: 0;


    width: 100%;

    border-bottom: double rgba(0, 0, 0, 0.25) 5px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 0 25px;

    background-color: #f7f8f1;
}

#menu-btn {
    position: fixed;

    height: 5vh;
    aspect-ratio: 1/1;

    top: 2.5vh;
    left: 83%;

    border-radius: 6px;
    border: none;

    cursor: pointer;
    font-size: 1.75rem;

    transition: 0.2s;
    
    z-index: 2000;
}

.toggle-btn {
    background: #53823e;
    color: #f7f8f1;
}

.toggle-btn.closed {
    background: #f7f8f1;
    color: #2a523a;
}


.content {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 2.5% 5% 5% 5%;

    h1 {
        font-size: calc(2em * 1.25);
        margin: 0;
    }

    p {
        font-size: calc(1em * 1.25);
    }
}

.projects {
    height: auto;
    width: 100%;

    display: flex;

    flex-direction: column;



    a {
        height: 12.5vh;
        width: 100%;

        display: flex;
        flex-direction: row;

        justify-content: flex-start;
        align-items: center;
        text-align: center;

        text-decoration: solid;

        padding: 2.5%;
        margin: 2.5% 0;

        background-color: #f7f8f1;

        border-radius: 15px;

        
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

        img {
            height: 75%;
            margin: 0 10% 0 5%;
        }

        .text {

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: start;
            height: 100%;
            flex: 1;

            p, h2 {
                margin: 0;
                color: black;
            }

            h2 {
                font-size: calc(1.5em * 1.25);
            }

            p {
                font-size: calc(1em * 1.25);
            }



        }
    }
}



.sidebar {
    height: 100vh;
    min-height: 915px;

    width: 80vw;

    padding: 0 5%;

    color: #fff;
    
    display: flex;
    flex-direction: column;
    
    position: fixed;

    top: 0;
    right: 0;
    
    z-index: 1000;
    
    transition: transform 0.3s ease, opacity 0.3s ease;  

    background-image: linear-gradient(to bottom, rgba(43, 81, 58, 1), rgba(43, 81, 58, 0.9), rgba(43, 81, 58, 0)), url("../Resources/Backgrund.png");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
}

.header-sidebar {
    height: 10vh;
    min-height: 91.5px;

    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.25rem;

    h2 {
        margin-left: 5%;
    }
}

.links  {
    height: 100%;
    width: 100%;

    display: flex;

    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;

    a {
        height: 7.5%;
        width: 100%;

        margin: 5px 0;
        padding: 2%;

        color: #f7f8f1;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        border-radius: 10px;
        border: none;

        text-decoration: none;
        font-size: 1.25rem;

        background-color: rgba(255, 255, 255, 0.05);

        img {
            height: 65%;
            aspect-ratio: 1/1;

            margin: 0 5%;

            border: none;
        }
    }

    a:hover {
        background-color: #53823e;

        box-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.25);

    }
}

.sidebar.hidden {
    transform: translateX(100%); 
    opacity: 0;                 
    pointer-events: none;        
}